/* Define custom colors */
:root {
    --color-primary: #e74c3c;
    --color-primary-dark: #c0392b;
}

.bg-primary {
    background-color: var(--color-primary);
}

.bg-primary-dark {
    background-color: var(--color-primary-dark);
}

.text-primary {
    color: var(--color-primary);
}

.text-primary-dark {
    color: var(--color-primary-dark);
}

.focus\:border-primary:focus {
    border-color: var(--color-primary);
}

.focus\:border-primary-dark:focus {
    border-color: var(--color-primary-dark);
}